@import "./common/var.scss";
@import "./mixins/mixin.scss";

@include b(col) {
  box-sizing: border-box;
  @for $i from 1 through 24 {
    &.ai-col-span-#{$i} {
      &.ai-col-span-#{$i} {
        max-width: (1/24 * $i * 100) * 1%;
        flex: (1 / 24 * $i * 100) * 1%
      }

      &.ai-col-offset-#{$i} {
        margin-left: (1/24 * $i *100) * 1%;
      }
    }
  }
}