@import "mixins/config.scss";
@font-face {
  font-family: "ai-ui-icons"; /* Project id 3951547 */
  src: url("./fonts/iconfont.woff2?t=1678781370523") format('woff2'),
  url("./fonts/iconfont.woff?t=1678781370523") format('woff'),
  url("./fonts/iconfont.ttf?t=1678781370523") format('truetype');
}

//.ai-ui-icons {
//  font-family: "ai-ui-icons" !important;
//  font-size: 16px;
//  font-style: normal;
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//}

// 只要以ai-icon开始就能匹配上能使用下面类型
[class^="#{$namespace}-icon-"] {
  font-family: "ai-ui-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ai-icon-gengduo_shuiping:before {
  content: "\e601";
}

.ai-icon-gengduo_chuizhi:before {
  content: "\e602";
}

.ai-icon-bianji:before {
  content: "\e603";
}

.ai-icon-shijian:before {
  content: "\e604";
}

.ai-icon-shaixuan:before {
  content: "\e605";
}

.ai-icon-guanbi:before {
  content: "\e606";
}

.ai-icon-qingkong:before {
  content: "\e607";
}

.ai-icon-shanchu:before {
  content: "\e608";
}

.ai-icon-sousuo:before {
  content: "\e609";
}

.ai-icon-shangchuan:before {
  content: "\e60a";
}

.ai-icon-pinglun:before {
  content: "\e60b";
}

.ai-icon-kejian:before {
  content: "\e60c";
}

.ai-icon-shezhi:before {
  content: "\e60d";
}

.ai-icon-xiaolian:before {
  content: "\e60e";
}

.ai-icon-kefu:before {
  content: "\e60f";
}

.ai-icon-xiangshang:before {
  content: "\e610";
}

.ai-icon-xiazai:before {
  content: "\e611";
}

.ai-icon-tianjia:before {
  content: "\e612";
}

.ai-icon-yincang:before {
  content: "\e613";
}

.ai-icon-yuandianfengefu:before {
  content: "\e614";
}

.ai-icon-wendang:before {
  content: "\e615";
}

.ai-icon-xiangyou:before {
  content: "\e616";
}

.ai-icon-xiangxia:before {
  content: "\e617";
}

.ai-icon-xiangzuo:before {
  content: "\e618";
}

.ai-icon-tuozhuai:before {
  content: "\e619";
}

.ai-icon-yonghu:before {
  content: "\e61a";
}

.ai-icon-shouqi:before {
  content: "\e61b";
}

.ai-icon-xingbiaowenjian:before {
  content: "\e61c";
}

.ai-icon-jianshao:before {
  content: "\e61d";
}

