// 组件ui命名空间        .ai-button
$namespace: 'ai';
// 组件状态              is-disable
$state-prefix: 'is-';
// 组件修饰符            .ai-button--primary
$modifier-separator: '--';
// 组件分割             .ai-button__header
$element-separator: '__'
