@import "../mixins/config";

// 配置颜色变量, 这里就简单使用element-ui的颜色
$--color-primary: #409EFF;
$--color-success: #67C23A;
$--color-warning: #E6A23C;
$--color-danger: #F56C6C;
$--color-info: #909399;
$--color-white: #FFFFFF;
$--color-black: #000000;


